:root {
    --fill-color: darkturquoise;
    --minor-color: #ddd;
    --back-color: white;
}

html {
    margin: 0;
    padding: 0;
    background-color: var(--minor-color);
    font-family: sans-serif;
}

body {
    max-width: 860px;
    margin: 0 auto;
    padding: 30px;
    background-color: var(--back-color);
    box-shadow: 0 0 10px 0 #aaa;
}

.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cell {
    width: 150px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--minor-color)
}

.cell__title {
    margin-top: 0;
    color: grey;
    text-align: center;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
}
